<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <title>Castnets</title>
    <style>
    @media screen and (max-width: 640px) {
        .img01 {
            height: 0;
            padding-top: 69.531%; /* 445px÷640px×100=69.531...% */
            background: url(/resources/web/cast_m.jpg) no-repeat center;
            background-size: contain;
        }
        .img01 img {
            display: none; /* PC용 이미지를 보이지 않게 처리 */
        }
    }
    </style>
</head>
<body>
    <p><img src="/resources/web/cast_web.jpg" alt="" class="switch"></p>
</section>
</body>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
    $(function () {
        var $setElem = $('.switch'),
            pcName = '_web',
            spName = '_m',
            replaceWidth = 641;
        $setElem.each(function () {
            var $this = $(this);

            function imgSize() {
                if (window.innerWidth > replaceWidth) {
                    $this.attr('src', $this.attr('src').replace(spName, pcName)).css({
                        visibility: 'visible'
                    });
                } else {
                    $this.attr('src', $this.attr('src').replace(pcName, spName)).css({
                        visibility: 'visible'
                    });
                }
            }
            $(window).resize(function () {
                imgSize();
            });
            imgSize();
        });
    });
    </script>
</html>