<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <title>Castnets</title>
    <style>
    @media screen and (max-width: 640px) {
        .img01 {
            height: 0;
            padding-top: 69.531%; /* 445px÷640px×100=69.531...% */
            background: url(../img/pic03_sp.jpg) no-repeat center;
            background-size: contain;
        }
        .img01 img {
            display: none; /* PC용 이미지를 보이지 않게 처리 */
        }
    }
    </style>
</head>
<body>
    <p class="img01"><img src="img/pic03_pc.jpg" alt=""></p>
</body>
</html>